#Maven
/target/


#Eclipse
/.settings/
/.classpath
/.project


#Intellij-idea

*.iml
*.ipr
*.iws

.idea/
/.idea/

.idea/*
/.idea/*


*.iml
/*/*.iml
/target/*
/simusale-admin-api/target/*
/simusale-api/target/*
/simusale-merchant/target/*
/simusale-weixin-proxy/target/*
/simusale-mmc-api/target/*
/simusale-sql/latest/.tables.sql.swp
target/*

/logs/
/logs

/simusale-wap/.tmp/*
/simusale-wap/node_modules/*
/simusale-web/.tmp/*
/simusale-web/node_modules/*
/node-web/node_modules/*


#gradle
.gradle
/build/
/gradle/
gradlew
gradlew.batgradlew
gradlew.bat

**/build
